* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
}
:root {
  --text-color: #f3b941;
  --background-color: #e87a5d;
  --primary-color: #3b5ba5;
}

/*
"color: var(--primary-color)"

 */
