* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
}
/*
:root {
  --primary-color: blue;
  --secondary-color: red;
}

   #3B5BA5
   #E87A5D
   #F3B941

"color: var(--primary-color)"

   */
